@import url('https://fonts.googleapis.com/css?family=Smooch+Sans&display=swap');
@import './css/variables.scss';

:root {
  font-family: 'Smooch Sans', Arial, Helvetica, sans-serif;
  background-color: $bg-color;
  margin: 0;
}

body {
  margin: 0; /* so vh units match the viewport height */
}
